/* Select Insurance */

.insure .form-div {
    margin-top: -63px;
}

.insure .form-div .nav-tabs .nav-link {
    padding: 21px 0px;
    font-weight: bold;
    font-size: 14px;
}

.insure .form.select {
    margin: 0px 80px;
    margin-bottom: 191px;
    padding: 30px 50px;
    padding-bottom: 112px;
    background: #ffffff;
}

.insure .select .header {
    margin: 0;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #092D60;
    font-weight: bold;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.insure .select .option {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.insure .select .custom-control-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.insure .select .custom-control-label img {
    width: 100px !important;
    height: 60px !important;
    margin: 0px 25px;
    border: 1px solid #000;
}

.insure .select .custom-control-label .detail h6 {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.insure .select .custom-control-label .detail p {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
    letter-spacing: 0.02em;
}

.insure .select .custom-control-label .price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    font-weight: bold;
    font-size: 14px;
}

.insure .select .custom-control-label .price p {
    margin: 0;
    margin-left: 5px;
    margin-top: -6px;
    font-weight: 800;
    font-size: 24px;
}

/* Get instant quote */

.insure .quote .form {
    padding: 0px 140px;
}

.insure .quote .same-as {
    text-align: center;
    font-size: 24px;
}

.insure .quote h6 {
    text-transform: capitalize;
}

.insure .quote .foot.d-flex {
    margin-top: 50px;
    margin-bottom: 50px;
}

.insure .quote .foot.d-flex .are-you {
    margin: 0px;
    font-weight: 800;
    font-size: 24px;
    text-transform: none;
}

/* Selection css */

.insure .selection-div {
    display: block;
    margin: 0px 65px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.insure .insurance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 50px;
    color: rgba(0, 0, 0, 0.8);
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.insure .insurance:last-child {
    margin-bottom: 0px;
}

.insure .insurance img {
    width: 150px;
    height: 54px;
    object-fit: contain;
}

.insure .insurance .text {
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.insure .insurance h6 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}
.insure .insurance h5 {
    font-size: 30px;
    color: #000000;
}

.insure .insurance .btn-view {
    padding: 19px 60px;
    width: auto;
    height: auto;
    font-size: 18px !important;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #000000;
    border: 2px solid #003896;
    border-radius: 5px;
}

.insure .insurance.selected {
    color: #FFFFFF;
    background: #3954D5;
}

.insure .insurance.selected h6 {
    color: #FFFFFF;
}
.insure .insurance.selected h5 {
    color: #FFFFFF;
}

.insure .insurance.selected .btn-view {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.insure .confirmation-div .selection-div {
    display: block;
    margin: 0px;
    margin-bottom: 30px;
    padding-top: 20px;
}