.largeButton{
    width: 100%;
    height: 52px;
    background: #043E7D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none !important;
    margin-bottom: 12px !important;
}
