.font-sm {
  font-size: 0.875rem !important;
}
.font-xs {
  font-size: 0.75rem !important;
}
.font-medium {
  font-size: 1rem !important;
}
.font-xl {
  font-size: 1.5rem !important;
}
.text-primary {
  color: var(--woozBlue) !important;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.bg-primary {
  background-color: var(--woozBlue) !important;
}
.min-height-sm{
  min-height: 8rem !important;
}
.min-height-xs{
  min-height: 6rem !important;
}
.bg-center {
  background-position: 50%;
}
.bg-cover {
  background-size: cover;
}
.object-fit-contain {
  object-fit: contain;
}
.object-fit-cover {
  object-fit: cover;
}
