.font-xxs {
  font-size: 0.625rem !important;
}
.font-xs {
  font-size: 0.75rem !important;
}
.font-sm {
  font-size: 0.875rem !important;
}
.font-medium {
  font-size: 1rem !important;
}
.font-xl {
  font-size: 1.5rem !important;
}
.font-xxl {
  font-size: 1.75rem !important;
}
.text-primary {
  color: var(--woozBlue) !important;
}
.secondary-text {
  color: var(--woozRed) !important;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.bg-woozBlue {
  background-color: var(--woozBlue) !important;
  &:hover,
  &:focus, &:active {
    background-color: var(--woozBlue) !important;
    color: white !important;
  }
}
.bg-secondary,
.bg-woozRed {
  background-color: var(--woozRed) !important;
}
.bg-woozPink {
  background-color: #ffe9e9 !important;
}
.three-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-f5 {
  background-color: #f5f5f5 !important;
}
.min-height-sm {
  min-height: 8rem !important;
}
.min-height-xs {
  min-height: 6rem !important;
}
.bg-center {
  background-position: 50%;
}
.bg-cover {
  background-size: cover;
}
.object-fit-contain {
  object-fit: contain;
}
.object-fit-cover {
  object-fit: cover;
}
.underline {
  text-decoration: underline !important;
}
.slashedText {
  text-decoration: line-through;
  text-decoration-color: red;
}
.text-woozRed {
  color: var(--woozRed);
}
.text-woozBlue {
  color: var(--woozBlue);
}
.border-woozRed {
  border-color: var(--woozRed) !important;
}
.border-woozBlue {
  border: 1px solid var(--woozBlue) !important;
}

@media (min-width: 992px) {
  .pl-lg-9 {
    padding-left: 7rem !important;
  }
}

@media (min-width: 768px) {
  .font-md-xxl {
    font-size: 1.75rem !important;
  }
}
