.bodyNav__container{
    /* padding-left: 7% !important;
    padding-right: 7% !important; */
}
.bodyNavGroup, .bodyNavGroup1, .bodyNavGroup4{
    display: flex;
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
    border-radius: 5px; 
    margin: 22px 20px 27px !important;
    background-color: white;
}
.bodyNavGroup1{
    margin-left:0px !important;
}
.bodyNavGroup4{
    margin-right:0px !important;
}
.bodyNav__icon{
    padding-left: 20px !important;
}

.bodyNav__text{
    padding-top: 15px !important;
    font-size: 16px;
    padding-left: 16px !important;
}
.row1 {
    display: flex;
    justify-content: space-between;
}