.breadcrumb{

   padding: 2rem 0rem 2rem 0rem !important;
    background: whitesmoke !important;
}
.top_banner{
 text-align: center!important;

}
.top_banner_img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    border-radius: 5px !important;

}
.top_badge{


    background-color: white;
    border-radius: 5px !important;
    padding: 1rem !important;
}
.containe{

    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
    width: 50% !important;
}

.phone_segment{
    text-align: center;
}