.email{
    display: flex;
    flex:1;
    align-items: center;
    margin-top: 20px !important;
    margin-right: 20px !important;

}
.emailInput{
    height: 40px;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #E4E4E4;
    border-radius: 5px 0px 0px 5px;
    outline-width: 0;
    padding: 10px !important ;
    /* text-indent: 15px; */
}
