.rightSidebar__container{
    padding-left: 18px !important;
    padding-right: 50px !important;

}
.rightSidebar__top{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.rightSidebar__top>div{
    padding: 8px 18px !important;
    
}
.rightSideBar__icon{
    padding-right: 13px !important;
    float: left;
}
.rightSideBar__text1{
    float: left;
    font-weight: 500;
    font-size: 14px;
}
.rightSideBar__text2{
    font-size: 12px;
}
.rightSidebar__bottom{
    margin-top: 14px !important;
}
.rightSidebar__bottomImage{
    width:100%;
    height: 159px;
    object-fit: cover;
}