.accRowOne__wrapper {
  margin-top: 32px !important;
}
.accLeftRow__wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 16px 0px !important;
}
label + .MuiInput-formControl {
  margin-top: 16px !important;
}
.MuiTextField-root {
  margin: 10px !important;
  width: "30ch";
}
.phoneField__wrapper {
  margin-left: -50% !important;
}
.makeStyles-root-1 .MuiTextField-root,
.makeStyles-root-2 .MuiTextField-root,
.makeStyles-root-3 .MuiTextField-root,
.makeStyles-root-4 .MuiTextField-root,
.makeStyles-root-5 .MuiTextField-root,
.makeStyles-root-6 .MuiTextField-root,
.makeStyles-root-7 .MuiTextField-root,
.makeStyles-root-8 .MuiTextField-root,
.makeStyles-root-9 .MuiTextField-root,
.makeStyles-root-10 .MuiTextField-root,
.makeStyles-formControl-1,
.makeStyles-formControl-2,
.makeStyles-formControl-3,
.makeStyles-formControl-4,
.makeStyles-formControl-5,
.makeStyles-formControl-6,
.makeStyles-formControl-7,
.makeStyles-formControl-8,
.makeStyles-formControl-9,
.makeStyles-formControl-10,
.makeStyles-formControl-29 {
  margin: 8px !important;
}

.MuiInputBase-input {
  padding: 6px 0 7px !important;
}
.titleHeader {
  margin-bottom: 34px !important;
}
.right__wrapper {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 22px !important;
}
.rightr {
  padding-left: 14px !important;
}
.accButton__wrapper {
  padding-top: 55px !important;
  padding-bottom: 80px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ededed;
}
.nav-pills .nav-link {
  border-radius: 0px !important;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 16px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #282828;
}
.aColContainer{
    padding-right: 13px !important;
    padding-bottom: 28px !important;

}
.adjacentIcon__text{
    padding-left: 24px !important;
}
.hrSeparator{
    border: 2px solid #F1F1F1;
}

.MuiMenuItem-root {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.MuiListItem-gutters {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.MuiListItem-root {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}