.rows__wrapper{
    padding: 16px 19px 24px 0px !important;
    margin-bottom: 26px !important;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.rightSide p, .rightSide span{
 font-weight: 500;
}
.rightSide{
    padding-left: 15px !important;
}
.textBig, .textSmallOne, .textSmallTwo{
    font-size: 20px;
    font-weight: 500;
}
.textBig{
    width: 85%;
    line-height: 1.4;
}
.textSmallOne, .textSmallTwo{
    font-size: 14px;
}
.textSmallTwo, .textSmallThree, .textLink{
    color: #2f80ed !important;
}
.textLink{
    font-weight: 500;
}
.textSmallThree{
    font-size: 12px;
    font-weight: 500;
}
.ratings__wrapper{
    padding-top: 10px !important;
    padding-bottom: 19px !important;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 9px !important;
}
.originalPrice, .discountedPrice{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
.originalPrice{
    font-size: 24px;
}
.discountedPrice{
    font-size: 14px;
}
.largeButton__wrapper{
    padding-top: 24px !important;
}

.rightSectionOne, .sellerInfo, .toSell{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.rightSectionOne{
    border-radius: 5px;
    margin-bottom: 16px !important;
    
}
.newRowWrap{
    padding: 0px 24px 11px 16px !important;
}
.smallText{
    font-size: 11px;
    font-weight: 500;
}
.sellerInfo{
    border-radius: 5px;
    margin-bottom: 16px !important;
    padding: 7px 0px 19px 0px !important;
}
.toSell{
    display: flex;
    padding: 13px 14px 19px 20px !important;
    border-radius: 5px;
}
.rightIcon{
    padding-top: 10px !important;
    padding-left: 16px !important;
}
.prevNext, .shareProduct{
    padding-left: 12px !important;
}
.prevNext{
    margin-bottom: 18px !important;
}
.shareProduct{
    font-weight: bold;
    margin-bottom: 13px !important;
}
.socialFacebook{
    padding-left: 19px !important;
    padding-right: 16px !important;
}
.rightSectionTitle{
    font-weight: 500;
    padding-top: 9px !important;
    padding-left: 17px !important;
    border-bottom: 2px solid #F1F1F1;
}
.offers{
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.offers, .offers2{
    display: flex;
    justify-content: space-between;
    padding: 7px  0 !important;
}
.offers>span, .offers2,.protectPolicy{
font-weight: 500;
}
.borderWrapperOne, .borderWrapperTwo {
    padding: 12px 18px !important;
    border:1px solid #E3E3E3;
}
.borderWrapperTwo{
    display: flex;
    justify-content: space-between;
    border-top: none;
}
.topRightIcon{
    margin-top: 70px !important;
}
.iconWrapper{
    margin-top: 10px !important;
}
.rightSectionWrapper>div{
    margin-top: 8px !important;
}
.rightSectionWrapper{
    padding-left: 16px !important;
}
.topSec{
    display: flex;
    justify-content: space-between;
}
.topSec>img{
    align-self: baseline
}
.smallButton{
    color: white;
    background: var(--woozBlue) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 40px;
    width: 107px;
    font-weight: bold;
    border: none !important;
}
.promotionsWrapper{
    padding-top: 7px !important;
    margin-top: 18px !important;
    border-top: 1px solid #E3E3E3;
    font-weight: 500;
}
.promotionLineOne{
    padding-top: 4px !important;
    padding-bottom: 7px !important;
}
.promotionLineOne>span, .promotionLineTwo>span{
font-size: 12px;
}
.promotionIcon{
    padding-right: 12px !important;
}
.woozStoreWrapper{
    padding-left: 19px !important;
}
.woozSell>p{
    padding-top: 10px !important;
}
.separator{
    border: 1px solid #F1F1F1;
 width: 90%;
 margin-bottom: 14px !important;
}
.prevNext>img{
    padding-right: 6px !important;
}
.phoneProduct{
    padding-left: 32px !important;
}
.woozSell{
    padding-bottom: 10px !important;
}
.horizontalLine{
    border: 1px solid #F1F1F1;
    margin-left: -10px !important;
}
.sellerTwo{
    padding-bottom: 6px !important;
}
.sellerText{
    padding-top: 8px !important;
    padding-bottom: 14px !important;
}
.starIcon{
padding-right:11px !important;
}
.totalPriceText{
    font-weight: 500;
    font-size: 12px;
}
.totalPriceFig{
    font-weight: 700;
    font-size: 16px;
}
.sellerGroup span{
    font-size: 12px;
}

@media screen and (max-width:768px){
    .rows__wrapper{
        text-align: center;
    }
}
