.textSmall2{
    font-weight: 500;
    font-size: 14px;
}
.textBig2{
    font-weight: bold;
    font-size: 18px;
}
.rightSideCard{
    padding: 15px !important;
}
.rightSideImg {
    text-align: center;
}