ul.react-multi-carousel-track li:nth-child(1) .ant-card:nth-child(1) {
  margin-left: 20px;
}

/* button {
  display: inline-block;
  background-color: #0d647d;
  color: #ffffff !important;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  min-width: 40px;
} */

.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}

.react-multi-carousel-track {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  transform: scale(0.75) !important;
}
