
.percentDiscount{
    position: relative;
    width: 32px;
    float: right;
    margin-right: 7px !important;
    background-color: #FFDEDE;
    z-index: 2;
}
.percentDiscount__text{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    color: #FF5757;  
    z-index: 2; 
}
.productImage{
    width: 172px;
    height: 174px;
    padding-top: 8px !important;
    padding-left: 2px !important;
    margin-bottom: 24px !important;
    border-radius: 126px;
}
.productImage>img{
    width: 172px;
    height: 174px;
    object-fit: cover;
    margin-top: -20px !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dealsProduct{
    padding-top: 15px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
    /* height: 281px; */
}

.productName>p{
    font-size: 14px;
    padding-left: 19px !important;
    margin-bottom: 1px !important;
}
.currentProductPrice >p{
    font-weight: bold;
    font-size: 16px;
    padding-left: 21px !important;
    margin-bottom: 3px !important;
}
.previousProductPrice{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7E7D7D;
    padding-left: 21px !important;
    margin-bottom: 17px !important;
}
