.header__container{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.header__wrapper{
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.advertImage{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 30%;
    height: 56px;
    object-fit:cover;
    padding-top: 10px !important;
}
.header__logo{
    margin-top:auto !important ;
    /* margin-left: 130px !important; */
    width: 144px;
    height: 45px;
    margin-left: 2rem !important;
}
.option__lineOne, .option__lineOneCart{
    font-size: 14px;
    font-weight: 500;   
    float: left;
}
.option__lineOneCart{
    padding-left: 3px !important;
}
.header__nav{
    display: flex;
    justify-content: space-evenly  !important;
    margin-top: 10px !important;
}
.header__option{
    display: flex;
    /* padding-right: 5px !important; */
}
.header__icon{
    float: left;
    padding-left: 5px !important;
    padding-right: 5px  !important;
}
.purchaseCount{
    position: absolute;
    height: 17px;
    width: 17px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #FF5659;
    margin-top: -8px !important;
    margin-left: 8px !important;
}
.purchaseCount>span{
    display: flex;
    font-weight: bold;
    font-size: 12px;
    padding-left: 4px !important;
}
.headerSecondRow{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #F5F5F5 !important;
    
}
.headerThirdRow{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.grid__Container{
    display: grid;
    grid-template-columns: 1fr 3fr 1.1fr;
}
.sell{
    padding-left: 135px !important;
}
.sell>span{
    padding-left: 5px !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #043E7D;
}
.headerSecondIcon{
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.image__wrapper{
    background-color:black;
}
.advertImage__two, .advertImage__three{
    position: absolute;
    width: 58px;
    height: 58px;
    object-fit:cover;
    top: -3px;
}

.advertImage__two{
    left:  68%;
}
.advertImage__three{
    left: 28%;
}
.rectImage, .rectImageTwo{
    position:absolute;
    height: 56px; 
    top: 0px;
}
.rectImage{
    padding-left: 21% !important;
}
 .rectImageTwo{
    padding-left: 77% !important;
 }