@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.home {
    display: block;
    padding: 40px 30px;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/emekamykael45/image/upload/v1581642627/econnect/home-back_akxqal.png");
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/emekamykael45/image/upload/v1581642627/econnect/home-back_akxqal.png");
    background-size: cover;
}

.home h2 {
    margin: 0;
    margin-top: 278px;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    color: #FFFFFF;
    font-size: 72px;
    text-align: center;
}

.home h1 {
    margin: 0;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    color: #FFFFFF;
    font-size: 96px;
    text-align: center;
}

.home .explore {
    margin: 0;
    margin-top: 268px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.home .btn-actions {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.home .btn-actions .btn:first-child {
    margin-right: 50px;
}

.home .btn-primary.learn {
    color: #FFFFFF;
    background: transparent !important;
    border: 3px solid #FFFFFF;
}
.home .btn-primary.learn p {
    color: #FFFFFF;
}


@media screen and (max-width: 1240px){
    .home .welcome {
        margin: 0 auto;
        margin-top: 120px;
        width: 100%;
    }
}

@media screen and (max-width: 540px){
    .home .btn-actions .btn:first-child {
        margin-right: 20px;
    }
}

@media screen and (max-width: 430px){
    .home .welcome {
        font-size: 3em;
    }
}

@media screen and (max-width: 390px){
    .home .btn-actions {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: max-content;
    }

    .home .btn-actions .btn:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}