.bodyNavGroup,
.bodyNavGroup1,
.bodyNavGroup4 {
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 22px 20px 27px !important;
  background-color: white;
  padding: 10px !important;
}
.bodyNavGroup1 {
  margin-left: 0px !important;
}
.bodyNavGroup4 {
  margin-right: 0px !important;
}
.bodyNav__icon {
  padding-left: 10px !important;
}
.bodyNav__text {
  padding-top: 5px !important;
  font-size: 16px;
  padding-left: 16px !important;
}
.row1 {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .bodyNav__text {
    display: block;
  }
  .bodyNavGroup,
  .bodyNavGroup1,
  .bodyNavGroup4 {
    display: block;
  }
  .bodyNavGroup,
  .bodyNavGroup4 {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 576px) {
    .bodyNav__text {
        font-size: 12px;
        padding-left: 0px !important;
      }
      .bodyNavGroup, .bodyNavGroup1{
        margin-right: 0px !important;
      }
      .bodyNavGroup,
      .bodyNavGroup1,
      .bodyNavGroup4 {
        box-shadow: none;
        background-color: transparent;
        padding: 0px !important;
        text-align: center;
        margin: 0px !important;
      }
      .bodyNav__icon {
        padding-left: 0px !important;
    }
    .row1{
        background-color: white;
        margin: 15px 0px !important ;
        padding: 8px 0px  !important ;
    }
}
