.bottomAboutSection__container {
    /* padding-left: 50px !important;
    padding-right: 50px !important; */
    margin-bottom: 26px !important;
  }
  
  .bottomAboutSection__title {
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 16px !important;
  }
  
  .bottomAboutSection__text > p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .bottomAboutSection__wrapper {
    background: #ffffff;
    padding: 40px 35px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  