// .ps{
// text-align: center !important;

// }





.phone_segment{

    background-color: white !important;
    margin-top: 5rem !important;
    border-radius: 5px;
    padding: 1rem !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.budget_segment{

    background-color: white !important;
    margin-top: 5rem !important;
    border-radius: 5px;
    padding: 1rem !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.ps_display_image{

    background-color: white !important;
    margin-top: 5rem !important;
    // padding: 1rem !important;
 

}
.fun_images1{

    padding: 3rem !important;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: #ffff;
    margin-top: 5rem !important;
    border-radius: 5px !important;
  }
  .grid-item {
    padding:3px !important;
    font-size: 30px;
    text-align: center !important;
    width: 100% !important;
  }
  .funImages{

    width: 100%;
    border-radius: 5px !important;
  }

  .gridd-container {
    display: flex;
    grid-template-columns: auto auto auto auto auto auto;
  

    padding: 10px !important;
    width: 100%;
    justify-content: space-evenly !important;

    p {

      text-align: center !important;
      font-weight: 500;
      font-size: 14px;
    }

  }
  .griddd-container {
    display: flex;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px !important;
    width: 100%;
    justify-content: space-evenly !important;

    p {

      text-align: left !important;
      padding-left: 9px !important;
    }




  }

   .ogridd-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px !important;
    width: 100%;
    justify-content: space-evenly !important;

    p {

      text-align: center !important;
      font-weight: 500;
      font-size: 14px;
      
    }




  }
  .conatine{
    margin-top: 2rem !important;
    border-radius: 5px !important;
    background-color: #ffff;
    padding: 1rem !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }


  
  .gridd-item {
  
    padding: 20px;
 
  }
  .ps_card_bg{
    background-color: white !important;

  }


  .ps_card_img{

  
    width: 7rem;
    height: 118px !important;
    object-fit: contain;
  }

.ps_card{

    background: #F5F5F5 !important;
    padding: 2rem !important;
    margin: 5px !important;
    border-radius: 5px !important;
    // display: flex !important;
  
}
.bp-span{

    float: right !important;
    color: #043D7D;
    font-weight: bolder;
    font-size: 1rem;
    ;
}


.bp_card{

    // background: #F5F5F5 !important;
    // padding: 3rem !important;
    // margin: 5px !important;
    border-radius: 5px;
    
}
