.footer {
  background-color: #002a55;
  padding: 64px 80px !important;
  margin-top: 92px !important;
}
.container {
  color: #fff;
}
.rowOne__wrapper p{
    padding-top:10px !important;
    padding-bottom:10px !important;
    padding-right:10px !important;
    font-size: 12px ;
}
.rowOne__wrapper h2{
    font-weight: 800;
    font-size: 18px ;
    margin-bottom: 20px !important;
}
.rowOne__wrapper h5{
    font-weight: bold;
    font-size: 12px ;
    line-height: 20px;
}
.shop {
  font-weight: bold;
  font-size: 12px ;
  margin-top: 15px !important;
}

.smallCard {
  background-color: #ffba08;
  padding: 5px 10px !important;
  width: 45px;
  height: 46px;
  float: right;
  margin-top: -40px !important;
}
.smallCard p {
  color: #000;
  padding: 0px !important;
  font-weight: bold;
    font-size: 14px ;
}
.footer__bottom span {
  margin-right: 10px !important;
}
.smallInfoGroup{
    padding-bottom: 30px !important;
}
.newsLetterSection{
    padding-bottom: 66px !important;
}
.newsLetterSection >p{
    line-height: 20px;
}
.secondRow{
    float: right;
}
.bonusimg{
  width: 100%;
}
.googlePlay{
  margin-right: 21px !important;
}
.econnectLogo{
  margin-right: 40px !important;
}
.socialMedia{
  padding-right: 15px !important;
}
.readMore{
  padding-left: 80px !important;
}
.lastRow, .playSection, .eConnectLimited{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.blog{
  max-width: 250px;
}
.readCount>img{
  padding-right:5px !important;
}
.readCount{
  padding-right:10px !important;
}