
.header__search{
    display: flex;
    flex:1;
    align-items: center;

}
.header__searchInput{
    height: 44px;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
.header__search > input{
    outline-width: 0;
    padding: 10px;
    text-indent: 15px;
}