.header__search{
    display: flex;
    flex:1;
    align-items: center;
    margin-right: 1.25rem !important;
}

.header__searchInput{
    height: 2.75rem;
    width: 100%;
    background: #FAFAFA;
    border: 0.063rem solid #E4E4E4;
    border-radius: 0.313rem;
    outline-width: 0;
    padding: 0.625rem !important ;
    text-indent: 2.188rem;
}
.button{
    padding: 0.625rem 0.938rem !important;
    background-color: var(--woozBlue)  !important;
    border: none !important;
    margin-left: 0.563rem !important;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: var(--woozBlue)  !important;
    border: none !important;
}

.button,
.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.searchIcon{
    position: absolute;
    padding-left: 0.813rem !important;
}
