.authModal {
  a {
    span{
        font-weight: 500;
    }
  }
//   a:active, a:hover, a:focus {
//     color: var(--woozBlue) !important;
//     border-color: var(--woozBlue);
//     border-bottom-width: 0.125rem !important;
//   }
}

.googlePlay2,
.appStore2 {
  img {
    width: 10rem;
    height: 4rem;
  }
}

.spinner-border{
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.bg_toggle.active{
  background-color: #f7fafc!important;
}

.loginInputCls{
  .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
  }
}


// .hideMe {
//   -webkit-animation: cssAnimation 2s forwards; 
//   animation: cssAnimation 2s forwards;
// }
// @keyframes cssAnimation{
//   0%   {opacity: 1;}
//   90%  {opacity: 1;}
//   100% {opacity: 0;}
// }
// @-webkit-keyframes cssAnimation{
//   0%   {opacity: 1;}
//   90%  {opacity: 1;}
//   100% {opacity: 0;}
// }
