.dealsSectionContainer{ 
    margin-bottom: 1.625rem !important;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    border-radius: 0.313rem;  
}

.dealsSectionTitle{
    height: 2.688rem;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.438rem;
    padding-top:0.813rem !important;
    padding-left:1.125rem !important;
}
.bgWhite{
    background-color: white;
}
.bgGreen, .bgYellow, .bgRed{
    color: white !important;
    border-radius: 0.313rem 0.313rem 0px 0px;
}
.bgYellow{
    background: linear-gradient(180deg, #FEB800 0%, #ECC200 100%);
}
.bgGreen{
    background: linear-gradient(180deg, #0FF36A 0%, #009332 100%);
}
.bgRed{
    background: linear-gradient(180deg, #F30F0F 0%, #DC0000 100%);
}
.percentDiscount{
    position: relative;
    margin-right: 0.438rem !important;
    text-align: center;
    left: 70%;
    top: 0.5rem;
}
.percentDiscount2{
    margin-left: 0.438rem !important;
    padding: 0rem 0.125rem !important;
}
.percentDiscount, .percentDiscount2{
    width: 2rem;
    background-color: #FF5757;
    z-index: 2;
    border-radius: 1px;
}
.percentDiscount__text{
    position: relative;
}
.percentDiscount__text, .percentDiscount__text2{
    font-weight: 700;
    font-size: 0.75rem;
    color: white;  
    z-index: 2; 
}
.discountWrapper{
    position: absolute;
}
.productImage{
    width: 10.625rem;
    height: 10.875rem;
    padding-top: 0.5rem !important;
    padding-left: 0.125rem !important;
    margin-bottom: 1.5rem !important;
    border-radius: 7.875rem;
}
.productImage>img{
    width: 10.625rem;
    height: 10.875rem;
    object-fit: cover;
    margin-top: -1.25rem !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
a:hover{
    color: inherit !important; 
}
.dealsProduct{
    padding-top: 0.938rem !important;
    background: #FFFFFF;
    
}
.dealsProduct:hover{
    box-shadow: 0rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
}
.productName>p{
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 1.188rem !important;
    margin-bottom: 0.063rem !important;
}
.currentProductPrice >p{
    font-weight: bold;
    font-size: 1rem;
    padding-left: 1.313rem !important;
    margin-bottom: 0.188rem !important;
}
.previousProductPrice{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #7E7D7D;
    padding-left: 1.313rem !important;
    margin-bottom: 1.063rem !important;
}
.previousProductPrice>p{
    text-decoration:line-through;
    text-decoration-color:red;
}
@media screen and (max-width: 360px){
    .productImage{
        width: 6.875rem;
        height: 6.875rem;
    }
    .productImage>img{
        width: 6.875rem;
        height: 6.875rem;
    }
}
@media screen and (max-width:992px){
    .productImage{
    margin-bottom: 0rem !important;
    }
}
