.helpCenter__images {
  width: 72px;
  height: 72px;
}
.customer_h2_txt {
  font-size: 2rem;
}

.customer_img_icon {
  font-size: 2.5rem !important;
}

.help_descript_image {
  height: 1.5rem;
}
.search_Icon_text{
  max-width: 85%;
}

@media screen and (max-width:768px){
  .customer_h2_txt {
    font-size: 1rem;
  }
}

@media screen and (max-width:480px){
  .help_descript_image {
    max-width: 8rem;
    object-fit: contain;
  }
}