.container{
    margin-top: 18px !important;
}
@media screen and (max-width: 960px) {
    .leftSideBar, .rightSideBar{
        display: none !important;
        visibility: hidden;
        clear: both;
    }
}