*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

:root {
  --woozBlue: #043E7D;
  --woozRed: #FF5757;
    
}
@media only screen and(min-width:768px){
:root{
  font-size: 16px;
}
}
@media only screen and(max-width:767px){
  :root{
    font-size: 14px;
  }
  }

a,.text-link,
a.unlink,
a.unlink:hover,a:-webkit-any-link, a:focus, a:visited, a:link, a:active
a:hover,.link-unstyled, .link-unstyled:link, .link-unstyled:hover   {
  color: inherit;
  text-decoration: none !important;
}  

html,
body {
  margin: 0;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  box-sizing: border-box;  
  color: #282828 !important;
  background-color: #F5F5F5 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}    
img:hover, a:hover{
  cursor: pointer;
}  

.row, .putAtMiddle{
  margin-left: auto !important;
  margin-right: auto !important;
}
